html, body {
    margin: 0; /* Elimina márgenes predeterminados */
    padding: 0; /* Elimina rellenos predeterminados */
}

body {
    background-color: #DB292F;
    cursor: url("./Imagenes/D20Mouse.png"), auto; /* Cursor personalizado */
    font-family: 'Jacques Francois', serif; /* Fuente personalizada aplicada al cuerpo */
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000000;
    padding: 10px 10px; /* Puedes ajustar el padding según tu preferencia */
    color: white;
    width: 100%; /* Asegura que el header ocupe todo el ancho */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.568); /* Sombra en el header */

}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 100px;
    height: auto;
}

h1 {
    font-family: 'Jacques Francois', serif; /* Fuente aplicada al título */
}

nav ul li a {
    font-family: 'Jacques Francois', serif; /* Fuente aplicada al menú de navegación */
}

.image-section {
    background-color: #D4BA83;
    padding: 40px; /* Distancia entre el section y los bordes */
    margin-top: 20px; /* Distancia entre el section y el header */
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
}

.container {
    margin: 0 auto;
    width: 70%;
    height: 450px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.image-box {
    position: relative;
    width: 12%; /* Ajusta el ancho del div */
    height: 100%;
    overflow: hidden;
    border-radius: 10px;
}

.image-box img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 0.5s ease-in-out;
}

.image-box:hover img {
    transform: translate(-50%, -50%) scale(1.5);
    z-index: 1; /* Asegura que la imagen esté por encima del div */
}
